{{textMode}}{{#data.reportTexts.emailSubject}}{{{data.reportTexts.emailSubject}}}{{/data.reportTexts.emailSubject}}
{{^data.reportTexts.emailSubject}}
{{data.info.reportTitle}} za rok {{data.wasteReturn.year}}
{{/data.reportTexts.emailSubject}}